
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.data-boxes {
  display: flex;
  flex-wrap: wrap;
  width: 1180px;
  justify-content: center; 
  gap: 10px;
  
}
.main-container h1 {
  text-align: center;
}
.record-style{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.display-rec{
    padding: 5px 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
.view-data{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    width: 1180px;
    height: 200px;
} 
.selected-rec{
  display: flex;
  justify-content: center;
}
h3{
  font-size: 20px;
}
p{
  font-size: 16px;
  line-height: 30px;
}
.filter-data {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}